#logoHenry {
  margin-right: 20px;
}


.naviBar{
  display: flex;
  justify-content: space-between;  
  background-color: rgba(0, 0, 0, 0.295);
  color: white;  
  padding: 10px 20px 32px 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
  width: 100%;
  vertical-align: middle;  
  
}

.Fecha{
  vertical-align: middle;
  align-self: middle;
}


.BuscadoryAdd{
  display: inline-flex;
  justify-content: flex-end;
  vertical-align: middle;
  align-self: flex-end;
  width: 100%;
  float: right;
  height: 30px;
  
}

.Buscador{  
  border: 1px solid transparent;
  border-radius: 3px;
  vertical-align: middle;
  box-shadow: rgb(0 0 0 / 26%) 0px 2px 10px 0px, rgb(0 0 0 / 6%) 0px 2px 5px 0px;
  
}
#btnAdd{
  margin-left: 5px;  
  color: #f8f9fa;
  background-color: rgba(171, 195, 206, 0.562);
  border-color: #f8f9fa;
  cursor: pointer;
  vertical-align: middle;
      
}

#btnAdd:hover{
transition: 650ms;
color: rgb(42, 230, 255);
background-color: rgba(0, 128, 0, 0);
}
Nav a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 50px;
  margin-top: 25px;
  font-size: 1.3em;
}

/* visited link */
Nav a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
Nav a:hover {
  color: rgb(1, 217, 255);
}

/* selected link */
Nav a:active {
  text-decoration: underline;
}